<?xml version="1.0"?>
<config>
  <modules>
    <Elenis_VideoLink>
      <version>0.1.0</version>
    </Elenis_VideoLink>
  </modules>
  <frontend>
    <routers>
      <videolink>
        <use>standard</use>
          <args>
            <module>Elenis_VideoLink</module>
            <frontName>videolink</frontName>
          </args>
      </videolink>
    </routers>
		<layout>
		  <updates>
			<videolink>
			  <file>videolink.xml</file>
			</videolink>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <videolink>
        <class>Elenis_VideoLink_Helper</class>
      </videolink>
    </helpers>
	<blocks>
	  <videolink>
		<class>Elenis_VideoLink_Block</class>
	  </videolink>
	</blocks>
	<models>
	  <videolink>
		<class>Elenis_VideoLink_Model</class>
		<resourceModel>videolink_mysql4</resourceModel>
	  </videolink>
	  <videolink_mysql4>
		<class>Elenis_VideoLink_Model_Mysql4</class>
		<entities>		  
			  <videolink>
				<table>elenis_static_video</table>
			  </videolink>
        </entities>
	  </videolink_mysql4>
	</models>
	<resources>
	  <videolink_setup>
		<setup>
		  <module>Elenis_VideoLink</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </videolink_setup>
	  <videolink_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </videolink_write>
	  <videolink_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </videolink_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <videolink>
	    <use>admin</use>
		<args>
		  <module>Elenis_VideoLink</module>
		  <frontName>videolink</frontName>
		</args>
	  </videolink>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <videolink module="videolink">
		<title>VideoLink</title>
		<sort_order>100</sort_order>
		<children>
		  <videolink module="videolink">
		    <title>Manage Videolink</title>
			<sort_order>0</sort_order>
			<action>videolink/adminhtml_videolink</action>
		  </videolink>
		</children>
	  </videolink>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<videolink translate="title" module="videolink">
			  <title>VideoLink</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <videolink translate="title">
			<title>Manage Videolink</title>
			<sort_order>0</sort_order>
		  </videolink>
			  </children>
			</videolink>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<videolink>
		  <file>videolink.xml</file>
		</videolink>
	  </updates>
	</layout>
  </adminhtml>
</config> 