<?xml version="1.0"?>
<config>
  <modules>
    <Elenis_EmailTemplateDateFormat>
      <version>0.1.0</version>
    </Elenis_EmailTemplateDateFormat>
  </modules>
  <global>
    <helpers>
      <emailtemplatedateformat>
        <class>Elenis_EmailTemplateDateFormat_Helper</class>
      </emailtemplatedateformat>
    </helpers>
	<models>
	  <emailtemplatedateformat>
		<class>Elenis_EmailTemplateDateFormat_Model</class>
		<resourceModel>emailtemplatedateformat_mysql4</resourceModel>
	  </emailtemplatedateformat>
			<sales>
				<rewrite>
					<order>Elenis_EmailTemplateDateFormat_Model_Sales_Order</order>
				</rewrite>
			</sales>
	</models>
  </global>
</config> 