<?xml version="1.0"?>
<config>
  <modules>
    <Elenis_AgularJs>
      <version>0.1.0</version>
    </Elenis_AgularJs>
  </modules>
  <frontend>
    <routers>
      <agularjs>
        <use>standard</use>
          <args>
            <module>Elenis_AgularJs</module>
            <frontName>agularjs</frontName>
          </args>
      </agularjs>
    </routers>
		<layout>
		  <updates>
			<agularjs>
			  <file>agularjs.xml</file>
			</agularjs>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <agularjs>
        <class>Elenis_AgularJs_Helper</class>
      </agularjs>
    </helpers>
	<blocks>
	  <agularjs>
		<class>Elenis_AgularJs_Block</class>
	  </agularjs>
	</blocks>
  </global>
</config> 