<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="margin:0; padding:0;">
<table width="456" border="0" cellspacing="0" cellpadding="0" align="center" style=" border: 1px solid #E0E0E0; font-family:Arial, Helvetica, sans-serif; line-height:22px;">
  <tr>
    <td><table width="456" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right" style="padding:8px 26px 0 0; font-size:12px; color:#4d4d4d;"><a href="{{config path="web/unsecure/base_url"}}resources/contact-us.html" style="font-size:10px; color:#4d4d4d; padding:0 8px 0 0; margin:0; text-decoration:none; outline:none;">CONTACT</a>&nbsp;|&nbsp;<a href="{{config path="web/unsecure/base_url"}}store.html" style="font-size:10px; color:#4d4d4d; padding:0 0px 0 8px;  margin:0; text-decoration:none; border:none; outline:none;">STORE</a></td>
        </tr>
        <tr>
          <td style="padding:0 0 21px 26px;"><img src="http://elenidev2.vanwestmedia.com/www2/media/emailtemplate/email_logo.jpg" width="348" height="87" alt="logo" /></td>
        </tr>
      </table>
      <table width="456" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="{{config path="web/unsecure/base_url"}}occasion.html" style="border:none; outline:none; text-decoration:none; padding:0; margin:0;"><img src="{{media url="emailtemplate/email_occasion.jpg"}}" width="64" height="27" alt="Occasion"  style="border:none; outline:none;"/></a></td>
          <td><a href="{{config path="web/unsecure/base_url"}}gift.html" style="border:none; outline:none; text-decoration:none; padding:0; margin:0;"><img src="{{media url="emailtemplate/email_gift.jpg"}}" width="42" height="27" alt="Gift" style="border:none; outline:none;"/></a></td>
          <td><a href="{{config path="web/unsecure/base_url"}}upload-your-own-photo.html" style="border:none; outline:none; text-decoration:none; padding:0; margin:0;"><img src="{{media url="emailtemplate/email_uploadphoto.jpg"}}" width="129" height="27" alt="Upload Your Photo" style="border:none; outline:none;"/></a></td>
          <td><a href="{{config path="web/unsecure/base_url"}}color-me.html" style="border:none; outline:none; text-decoration:none; padding:0; margin:0;"><img src="{{media url="emailtemplate/email_colorme.jpg"}}" width="65" height="27" alt="Color Me" style="border:none; outline:none;"/></a></td>
          <td><a href="{{config path="web/unsecure/base_url"}}cupcakes.html" style="border:none; outline:none; text-decoration:none; padding:0; margin:0;"><img src="{{media url="emailtemplate/email_cupcake.jpg"}}" width="62" height="27" alt="Cupcake" style="border:none; outline:none;"/></a></td>
          <td><a href="{{config path="web/unsecure/base_url"}}idea-gallery.html" style="border:none; outline:none; text-decoration:none; padding:0; margin:0;"><img src="{{media url="emailtemplate/email_gallery.jpg"}}" width="94" height="27" alt="Idea Gallery" style="border:none; outline:none;"/></a></td>
        </tr>
      </table>
      <table width="456" border="0" cellspacing="0" cellpadding="0" >
        <tr>
          <td align="center"><img src="{{media url="emailtemplate/email_shadow.jpg"}}" width="456" height="22" alt="Shadow" /></td>
        </tr>
        <tr>
          <td><table width="454" border="0" cellspacing="0" cellpadding="0" >
              
                <tr>
                   <td style="padding:20px 25px 0 25px; color:#642a25; font-size:13px;font-family:Arial, Helvetica, sans-serif; margin:0; text-transform:uppercase;">Dear {{htmlescape var=$customer.name}},</td>
                   </tr>
                        <tr>
                   <td style="padding:20px 25px 0 25px; color:#642a25; font-size:13px;font-family:Arial, Helvetica, sans-serif; margin:0;"><strong>Your new password is:</strong> {{htmlescape var=$customer.password}}
                   </td>
                   </tr>
                        <td style="padding:20px 25px 0 25px; color:#642a25; font-size:13px;font-family:Arial, Helvetica, sans-serif; margin:0;">You can change your password at any time by logging into <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">your account</a>.
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px 25px 20px 25px; color:#642a25; font-size:13px;font-family:Arial, Helvetica, sans-serif; margin:0;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                </tr>
            </table>
            
            
            
            <table width="456" border="0" cellspacing="0" cellpadding="0" style="height:96px; background:#d32f71;">
        <tr>
          <td colspan="2" valign="top"><img src="{{media url="emailtemplate/email_footer_top.jpg"}}" width="456" height="24" alt="Footer-bg" /></td>
        </tr>
        <tr>
          <td style="padding:16px 0 10px 35px; font-size:9px; color:#fff;" valign="top"><img src="{{media url="emailtemplate/email_footer_logo.jpg"}}" width="112" height="16" alt="Zagat" /> <br />
            All Design &amp; Products ©2012 Eleni’s</td>
          <td valign="top" style="padding:10px 0 0 0;"><a href="{{config path="web/unsecure/base_url"}}" style="margin:0; padding:0; font-size:14px; color:#fff; text-decoration:none; font-weight:bold; border:none; outline:none;">Join Our Mailing List</a>
            <table border="0" cellspacing="0" cellpadding="0"  style="padding:10px 0 0 0;">
              <tr>
                <td style="padding:0 4px 0 0;"><a href="#" style="margin:0; padding:0; border:none; outline:none; text-decoration:none;"><img src="{{media url="emailtemplate/email_facebook.jpg"}}" width="11" height="11" alt="Facebook" style="margin:0; outline:none; border:none; padding:0;"/></a></td>
                <td style="padding:0 4px 0 0;"><a href="#" style="margin:0; padding:0; border:none; outline:none; text-decoration:none;"><img src="{{media url="emailtemplate/email_twitter.jpg"}}" width="11" height="11" alt="Twitter" style="margin:0; outline:none; border:none; padding:0;"/></a></td>
                <td style="padding:0 4px 0 0;"><a href="#" style="margin:0; padding:0; border:none; outline:none; text-decoration:none;"><img src="{{media url="emailtemplate/email_pinterest.jpg"}}" width="11" height="11" alt="Pinterest" style="margin:0; outline:none; border:none; padding:0;"/></a></td>
                <td style="padding:0 4px 0 0;"><a href="#" style="margin:0; padding:0; border:none; outline:none; text-decoration:none;"><img src="{{media url="emailtemplate/email_instagram.jpg"}}" width="11" height="11" alt="Instagram" style="margin:0; outline:none; border:none; padding:0;"/></a></td>
              </tr>
            </table></td>
        </tr>
      </table>
            
            
        </td>
    </tr>
</table>
</div>
</body>
