<?xml version="1.0"?>
<config>
    <modules>
        <Webdziner_Ajaxsearch>
            <version>0.1.0</version>
        </Webdziner_Ajaxsearch>
    </modules>
    <frontend>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>Webdziner_Ajaxsearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <layout>
            <updates>
                <ajaxsearch>
                    <file>ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ajaxsearch>
				<use>admin</use>
				<args>
					<module>Webdziner_Ajaxsearch</module>
					<frontName>ajaxsearch</frontName>
				</args>
			</ajaxsearch>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<all>
				<children>
					<ajaxsearch module="ajaxsearch">
						<title>Ajax Search</title>
						<sort_order>0</sort_order>
						<action>ajaxsearch/adminhtml_ajaxsearch</action>
					</ajaxsearch>
				</children>
			</all>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webdziner_Ajaxsearch>
							<title>Ajaxsearch Module</title>
							<sort_order>10</sort_order>
						</Webdziner_Ajaxsearch>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ajaxsearch>
					<file>ajaxsearch.xml</file>
				</ajaxsearch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ajaxsearch>
                <class>Webdziner_Ajaxsearch_Model</class>
                <resourceModel>ajaxsearch_mysql4</resourceModel>
            </ajaxsearch>
            <ajaxsearch_mysql4>
                <class>Webdziner_Ajaxsearch_Model_Mysql4</class>
                <entities>
                    <ajaxsearch>
                        <table>ajaxsearch</table>
                    </ajaxsearch>
                </entities>
            </ajaxsearch_mysql4>
        </models>
        <resources>
            <ajaxsearch_setup>
                <setup>
                    <module>Webdziner_Ajaxsearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxsearch_setup>
            <ajaxsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxsearch_write>
            <ajaxsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxsearch_read>
        </resources>
        <blocks>
            <ajaxsearch>
                <class>Webdziner_Ajaxsearch_Block</class>
            </ajaxsearch>
        </blocks>
        <helpers>
            <ajaxsearch>
                <class>Webdziner_Ajaxsearch_Helper</class>
            </ajaxsearch>
        </helpers>
    </global>
</config>