<?xml version="1.0"?>
<config>
    <modules>
        <Webdziner_All>
            <version>0.1.0</version>
        </Webdziner_All>
    </modules>
    <frontend>
        <routers>
            <all>
                <use>standard</use>
                <args>
                    <module>Webdziner_All</module>
                    <frontName>all</frontName>
                </args>
            </all>
        </routers>
    </frontend>
    <adminhtml>
		<menu>
			<all module="all">
				<title>Theme Options</title>
				<sort_order>148</sort_order>
			</all>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webdziner_All>
							<title>Banner Module</title>
							<sort_order>10</sort_order>
						</Webdziner_All>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <all>
                <class>Webdziner_All_Model</class>
                <resourceModel>all_mysql4</resourceModel>
            </all>
            <all_mysql4>
                <class>Webdziner_All_Model_Mysql4</class>
                <entities>
                    <all>
                        <table>all</table>
                    </all>
                </entities>
            </all_mysql4>
        </models>
        <resources>
            <all_setup>
                <setup>
                    <module>Webdziner_All</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </all_setup>
            <all_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </all_write>
            <all_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </all_read>
        </resources>
        <blocks>
            <all>
                <class>Webdziner_All_Block</class>
            </all>
        </blocks>
        <helpers>
            <all>
                <class>Webdziner_All_Helper</class>
            </all>
        </helpers>
    </global>
</config>