<?xml version="1.0"?>
<config>
  <modules>
    <Sunfood_AdditionalAddressField>
      <version>0.1.0</version>
    </Sunfood_AdditionalAddressField>
  </modules>
  <global>
    <helpers>
      <additionaladdressfield>
        <class>Sunfood_AdditionalAddressField_Helper</class>
      </additionaladdressfield>
    </helpers>
	<models>
	  <additionaladdressfield>
		<class>Sunfood_AdditionalAddressField_Model</class>
		<resourceModel>additionaladdressfield_mysql4</resourceModel>
	  </additionaladdressfield>
	</models>
	<resources>
	  <customerattribute1395837770_setup>
		<setup>
		  <module>Sunfood_AdditionalAddressField</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1395837770_setup>
	  <customerattribute1395837770_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1395837770_write>
	  <customerattribute1395837770_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1395837770_read>
	</resources>
  </global>
</config> 