<?xml version="1.0"?>
<config>
    <tabs>
        <sales translate="label" module="sales">
            <label>Sales</label>
            <sort_order>400</sort_order>
        </sales>
    </tabs>
    <sections>
        <sales translate="label" module="sales">
            <class>separator-top</class>
            <label>Sales</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <minimum_orderqty translate="label">
                    <label>Minimum order quantity</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable</label>
                            <sort_order>5</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <amount translate="label comment">
                            <label>Minimum quantity</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Subtotal after discount</comment>
                        </amount>
                        <description translate="label comment">
                            <label>Description message</label>
                            <sort_order>20</sort_order>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This message will be shown in shopping cart when subtotal after discount less than minimum amount</comment>
                        </description>
                        <error_message translate="label">
                            <label>Error to show in shopping cart</label>
                            <sort_order>30</sort_order>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_message>
                    </fields>
                </minimum_orderqty>
            </groups>
        </sales>
    </sections>
</config>