<?xml version="1.0"?>
<config>
    <modules>
        <Webdziner_Bgsetting>
            <version>0.1.0</version>
        </Webdziner_Bgsetting>
    </modules>
    <frontend>
        <routers>
            <bgsetting>
                <use>standard</use>
                <args>
                    <module>Webdziner_Bgsetting</module>
                    <frontName>bgsetting</frontName>
                </args>
            </bgsetting>
        </routers>
        <layout>
            <updates>
                <bgsetting>
                    <file>bgsetting.xml</file>
                </bgsetting>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bgsetting>
				<use>admin</use>
				<args>
					<module>Webdziner_Bgsetting</module>
					<frontName>bgsetting</frontName>
				</args>
			</bgsetting>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<all>
				<children>
					<items module="bgsetting">
						<title>Background Setting</title>
						<sort_order>30</sort_order>
						<action>bgsetting/adminhtml_bgsetting/edit</action>
					</items>
				</children>
			</all>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webdziner_Bgsetting>
							<title>Bgsetting Module</title>
							<sort_order>10</sort_order>
						</Webdziner_Bgsetting>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bgsetting>
					<file>bgsetting.xml</file>
				</bgsetting>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bgsetting>
                <class>Webdziner_Bgsetting_Model</class>
                <resourceModel>bgsetting_mysql4</resourceModel>
            </bgsetting>
            <bgsetting_mysql4>
                <class>Webdziner_Bgsetting_Model_Mysql4</class>
                <entities>
                    <bgsetting>
                        <table>bgsetting</table>
                    </bgsetting>
                </entities>
            </bgsetting_mysql4>
        </models>
        <resources>
            <bgsetting_setup>
                <setup>
                    <module>Webdziner_Bgsetting</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bgsetting_setup>
            <bgsetting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bgsetting_write>
            <bgsetting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bgsetting_read>
        </resources>
        <blocks>
            <bgsetting>
                <class>Webdziner_Bgsetting_Block</class>
            </bgsetting>
        </blocks>
        <helpers>
            <bgsetting>
                <class>Webdziner_Bgsetting_Helper</class>
            </bgsetting>
        </helpers>
    </global>
</config>