<?xml version="1.0"?>
<config>
    <default>
		<deliverytime>
			<general>
				<enable>1</enable>
				<time_interval>15</time_interval>
				<minimum_gap>45</minimum_gap>
				<ship_day>3</ship_day>
				<message>You are ordering outside of our delivery hours. If you proceed, you must specify a delivery time for later delivery during checkout.</message>
			</general>
			
			<time_schedule>
				<monday_open>17:00</monday_open>
				<monday_close>23:00</monday_close>
				<tuesday_open></tuesday_open>
				<tuesday_close></tuesday_close>
				<wednesday_open>17:00</wednesday_open>
				<wednesday_close>23:00</wednesday_close>
				<thursday_open>17:00</thursday_open>
				<thursday_close>23:00</thursday_close>
				<friday_open>16:00</friday_open>
				<friday_close>00:00</friday_close>
				<saturday_open>16:00</saturday_open>
				<saturday_close>00:00</saturday_close>
				<sunday_open>17:00</sunday_open>
				<sunday_close>23:00</sunday_close>
			</time_schedule>			
		</deliverytime>
	</default>
	<modules>
        <Magestore_Deliverytime>
            <version>0.1.0</version>
        </Magestore_Deliverytime>
    </modules>
    <frontend>
        <routers>
            <deliverytime>
                <use>standard</use>
                <args>
                    <module>Magestore_Deliverytime</module>
                    <frontName>deliverytime</frontName>
                </args>
            </deliverytime>
        </routers>
        <layout>
            <updates>
                <deliverytime>
                    <file>deliverytime.xml</file>
                </deliverytime>
            </updates>
        </layout>
		
			

		<events>
		  <checkout_type_onepage_save_order_after>
			  <observers>
		          <magestore_deliverytime_observer>
		            <type>singleton</type>
		            <class>deliverytime/deliverytime</class>
		            <method>save_deliverytime</method>
		          </magestore_deliverytime_observer>
		       </observers>
		  </checkout_type_onepage_save_order_after>			  		  
		</events>

    </frontend>
    <admin>
        <routers>
			<deliverytime>
				<use>admin</use>
				<args>
					<module>Magestore_Deliverytime</module>
					<frontName>deliverytime</frontName>
				</args>
			</deliverytime>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <deliverytime translate="title" >
                                            <title>Magestore</title>
                                            <sort_order>50</sort_order>
                                        </deliverytime>
                                    </children>
                                </config>
                            </children>
                        </system>

					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<deliverytime>
					<file>deliverytime.xml</file>
				</deliverytime>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <deliverytime>
                <class>Magestore_Deliverytime_Model</class>
                <resourceModel>Deliverytime_mysql4</resourceModel>
            </deliverytime>
           
        </models>
        <resources>
            <deliverytime_setup>
                <setup>
                    <module>Magestore_Deliverytime</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deliverytime_setup>
            <deliverytime_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deliverytime_write>
            <deliverytime_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deliverytime_read>
        </resources>
        <blocks>
            <deliverytime>
                <class>Magestore_Deliverytime_Block</class>
            </deliverytime>
			
			<adminhtml>
				<rewrite>
					<sales_order_view_tabs>Magestore_Deliverytime_Block_Adminhtml_Sales_Order_View_Tabs</sales_order_view_tabs>
				</rewrite>
			</adminhtml>
        </blocks>
        <helpers>
            <deliverytime>
                <class>Magestore_Deliverytime_Helper</class>
            </deliverytime>
        </helpers>
    </global>
</config>