<?xml version="1.0"?>
<config>
    <modules>
        <Webdziner_Newproduct>
            <version>0.1.0</version>
        </Webdziner_Newproduct>
    </modules>
    <admin>
        <routers>
			<newproduct>
				<use>admin</use>
				<args>
					<module>Webdziner_Newproduct</module>
					<frontName>newproduct</frontName>
				</args>
			</newproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		   <all>
                <children>
				   <newproduct module="newproduct">
						<title>Manage New Products</title>
						<sort_order>3</sort_order>
						<action>newproduct/adminhtml_newproduct/new</action>
				     </newproduct>
				</children>
             </all>
		  </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webdziner_Newproduct>
							<title>Newproduct Module</title>
							<sort_order>10</sort_order>
						</Webdziner_Newproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<newproduct>
					<file>newproduct.xml</file>
				</newproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <newproduct>
                <class>Webdziner_Newproduct_Model</class>
                <resourceModel>newproduct_mysql4</resourceModel>
            </newproduct>
            <newproduct_mysql4>
                <class>Webdziner_Newproduct_Model_Mysql4</class>
                <entities>
                    <newproduct>
                        <table>newproduct</table>
                    </newproduct>
                    <grid>
                        <table>grid_newproduct</table>
                    </grid>
                </entities>
            </newproduct_mysql4>
        </models>
        <resources>
            <newproduct_setup>
                <setup>
                    <module>Webdziner_Newproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproduct_setup>
            <newproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproduct_write>
            <newproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproduct_read>
        </resources>
        <blocks>
            <newproduct>
                <class>Webdziner_Newproduct_Block</class>
            </newproduct>
        </blocks>
        <helpers>
            <newproduct>
                <class>Webdziner_Newproduct_Helper</class>
            </newproduct>
        </helpers>
    </global>
	<frontend>
        <events>
            <checkout_onepage_controller_success_action>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
</config>