<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <sagepaymentspro translate="label" module="ebizmarts_sagepaymentspro">
                    <label>Sage Payment Solutions Pro Configuration</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <hint>
                            <frontend_model>ebizmarts_sagepaymentspro/adminhtml_system_config_fieldset_hint</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hint>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </title>
                        <log translate="title">
                            <label>Enable log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </log>
                        <payment_action translate="label">
                            <label>Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ebizmarts_sagepaymentspro/system_config_paymentAction</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </payment_action>

                        <license_key translate="label">
                            <label>License Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </license_key>
                        <m_id translate="label">
                            <label>Merchant ID (M_ID)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </m_id>
                        <m_key translate="label">
                            <label>Merchant Pass (M_KEY)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </m_key>
                        <api translate="label">
                            <label>API Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </api>
                        <token_integration translate="label">
                            <label>Token Integration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </token_integration>
                        <token_url translate="label">
                            <label>Token URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                                <token_integration>1</token_integration>
                            </depends>
                        </token_url>
                        <max_token_card translate="label">
                            <label>Max Token Cards Per Customer</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                                <token_integration>1</token_integration>
                            </depends>
                        </max_token_card>
                        <cctypesSagePaymentsPro translate="label">
                            <label>Credit Cards</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebizmarts_sagepaymentspro/system_config_creditCards</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </cctypesSagePaymentsPro>
                        <min_order_total>
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </min_order_total>
                        <max_order_total>
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </max_order_total>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </order_status>
                        <allowspecific translate="label" module="payment">>
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>130</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </allowspecific>
                        <specificcountry translate="label" module="payment">>
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>140</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                                <allowspecific>1</allowspecific>
                            </depends>
                        </specificcountry>
                    </fields>
                </sagepaymentspro>
            </groups>
        </payment>
    </sections>
</config>
