<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_SagePaymentsPro>
            <version>2.0.1</version>
        </Ebizmarts_SagePaymentsPro>
    </modules>
    <global>
        <models>
            <ebizmarts_sagepaymentspro>
                <class>Ebizmarts_SagePaymentsPro_Model</class>
                <resourceModel>ebizmarts_sagepaymentspro_resource</resourceModel>
            </ebizmarts_sagepaymentspro>
            <ebizmarts_sagepaymentspro_resource>
                <class>Ebizmarts_SagePaymentsPro_Model_Resource</class>
                <deprecatedNode>ebizmarts_sagepaymentspro_mysql4</deprecatedNode>
                <entities>
                    <transaction>
                        <table>sagepaymentspro_transaction</table>
                    </transaction>
                    <tokencard>
                        <table>sagepaymentspro_tokencard</table>
                    </tokencard>
                </entities>
            </ebizmarts_sagepaymentspro_resource>
        </models>
        <blocks>
            <ebizmarts_sagepaymentspro>
                <class>Ebizmarts_SagePaymentsPro_Block</class>
            </ebizmarts_sagepaymentspro>
        </blocks>
        <helpers>
            <ebizmarts_sagepaymentspro>
                <class>Ebizmarts_SagePaymentsPro_Helper</class>
            </ebizmarts_sagepaymentspro>
        </helpers>
        <resources>
            <ebizmarts_sagepaymentspro_setup>
                <setup>
                    <module>Ebizmarts_SagePaymentsPro</module>
                </setup>
            </ebizmarts_sagepaymentspro_setup>
        </resources>
        <payment>
            <sagepayments_cards>
                <types>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                    </MC>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                    </AE>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                    </DI>
                </types>
            </sagepayments_cards>
        </payment>
        <fieldsets>
            <sales_convert_order_payment>
                <remembertoken>
                    <to_quote_payment>*</to_quote_payment>
                </remembertoken>
            </sales_convert_order_payment>
            <sales_convert_quote_payment>
                <save_token_cc>
                    <to_order_payment>*</to_order_payment>
                </save_token_cc>
            </sales_convert_quote_payment>
        </fieldsets>

    </global>
    <adminhtml>
        <layout>
            <updates>
                <ebizmarts_sagepaymentspro>
                    <file>ebizmarts/sagepaymentspro.xml</file>
                </ebizmarts_sagepaymentspro>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <sagepaymentspro>
                <m_id>362472731013</m_id>
                <m_key>S6B7M6H8G7B7</m_key>
                <active>0</active>
                <model>ebizmarts_sagepaymentspro/sageMethod</model>
                <title>Credit Card - Sage Payments</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <license_key>[Request to Ebizmarts]</license_key>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <order_status>Pending</order_status>
                <api><![CDATA[https://www.sagepayments.net/web_services/vterm_extensions/transaction_processing.asmx?WSDL]]></api>
                <token_url><![CDATA[https://gateway.sagepayments.net/web_services/wsVault/wsVault.asmx?WSDL]]></token_url>
                <apitoken><![CDATA[https://gateway.sagepayments.net/web_services/wsVault/wsVaultBankcard.asmx?WSDL]]></apitoken>
            </sagepaymentspro>
        </payment>
    </default>
    <frontend>
        <secure_url>
            <ebizmarts_sagepaymentspro>/sgusa/</ebizmarts_sagepaymentspro>
        </secure_url>
        <routers>
            <ebizmarts_sagepaymentspro>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_SagePaymentsPro</module>
                    <frontName>sgusa</frontName>
                </args>
            </ebizmarts_sagepaymentspro>
        </routers>
        <layout>
            <updates>
                <ebizmarts_sagepaymentspro>
                    <file>ebizmarts/sagepaymentspro.xml</file>
                </ebizmarts_sagepaymentspro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ebizmarts_sagepaymentspro before="Mage_Adminhtml">Ebizmarts_SagePaymentsPro_Adminhtml</ebizmarts_sagepaymentspro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>