<?xml version="1.0"?>
<!--
/** Calendar
 *
 * @category   Webshopapps
 * @package    Webshopapps_calendarbase
 * @copyright  Copyright (c) 2011 Zowta Ltd (http://www.webshopapps.com)
 * @license    http://www.webshopapps.com/license/license.txt - Commercial license
 */
-->
<config>
    <modules>
        <Webshopapps_Calendarbase>
            <version>0.0.1</version>
        </Webshopapps_Calendarbase>
    </modules>

    <frontend>
        <routers>
            <calendarbase>
                <use>standard</use>
                <args>
                    <module>Webshopapps_Calendarbase</module>
                    <frontName>calendarbase</frontName>
                </args>
            </calendarbase>
        </routers>
        <layout>
            <updates>
                <calendarbase>
                    <file>webshopapps_calendarbase.xml</file>
                </calendarbase>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <calendarbase>
                    <file>webshopapps_calendarbase.xml</file>
                </calendarbase>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <calendarbase>
                <class>Webshopapps_Calendarbase_Block</class>
            </calendarbase>
        </blocks>
        <models>
            <calendarbase>
                <class>Webshopapps_Calendarbase_Model</class>
            </calendarbase>
            <sales>
                <rewrite>
                    <quote_address_total_shipping>Webshopapps_Calendarbase_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
                    <quote_address_rate>Webshopapps_Calendarbase_Model_Quote_Address_Rate</quote_address_rate>
                    <quote_address>Webshopapps_Calendarbase_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <calendarbase>
                <class>Webshopapps_Calendarbase_Helper</class>
            </calendarbase>
        </helpers>
        <resources>
            <calendarbase_setup>
                <setup>
                    <module>Webshopapps_Calendarbase</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <calendarbase_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </calendarbase_write>
                <calendarbase_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </calendarbase_read>
            </calendarbase_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <dispatch_date>
                    <to_order>*</to_order>
                </dispatch_date>
                <expected_delivery>
                    <to_order>*</to_order>
                </expected_delivery>
                <delivery_description>
                    <to_order>*</to_order>
                </delivery_description>
                <delivery_notes>
                    <to_order>*</to_order>
                </delivery_notes>
            </sales_convert_quote_address>
            <sales_convert_order>
                <dispatch_date>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </dispatch_date>
                <expected_delivery>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </expected_delivery>
                <delivery_description>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </delivery_description>
                <delivery_notes>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </delivery_notes>
            </sales_convert_order>
        </fieldsets>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <calendarbase_observer>
                        <type>singleton</type>
                        <class>calendarbase/observer</class>
                        <method>saveOrderAfter</method>
                    </calendarbase_observer>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>

    <default>
        <shipping>
            <webshopapps_dateshiphelper>
                <custom_text_1>Dear Customer, we need %PROD_DAYS% days for production.</custom_text_1>
                <custom_text_2>Your product is finished (ready for delivery) on %END_DATE%.</custom_text_2>
                <default_avail_slots>-1</default_avail_slots>
                <num_of_weeks>10</num_of_weeks>
                <slot_1>Before 9am</slot_1>
                <slot_2>9am - 12pm</slot_2>
                <slot_3>12pm - 5pm</slot_3>
                <slot_4>After 5pm</slot_4>
                <slot_5>After 7pm</slot_5>
                <slot_6>After 9pm</slot_6>
                <cutoff_time>13:00</cutoff_time>
                <num_slots>1</num_slots>
                <dates_at_checkout>5</dates_at_checkout>
            </webshopapps_dateshiphelper>
        </shipping>
    </default>
</config>